{% extends "base.html" %}
{% block titre %}Sylene | Création d'un compte Etudiant{% endblock %}
{% block body %}


    {% if not msg %}{% else %}
    {% if success %}


        <div class="container">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Compte créé</h3>
            </div>
            <div class="panel-body">
                {{ msg }}
            </div>
        </div>
        </div>

    {% else %}

        <div class="container">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Erreur</h3>
            </div>
            <div class="panel-body">
                {{ msg }}
            </div>
        </div>
        </div>


    {% endif %}{% endif %}
    <div class="container">
        <button type="button" class="btn btn-default btn-lg" onclick="location.href='/userpanel/'">
            Revenir
        </button>
    </div>
{% endblock %}