{% extends "base.html" %}
{% block titre %}Sylene | Confirmation des ajouts des documents de veilles{% endblock %}
{% block body %}


<div class="container">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <h3>Ajout de documents de veille</h3>
                {% if fichiers_acceptes|length_is:"0" %}
                 {% else %}
                <p>Les fichiers suivants ont été enregistrés :</p>
                <ol>
                    {% for f in fichiers_acceptes %}
                    <li>{{ f.name }}</li>
                    {% endfor %}
                </ol>
                {% endif %}
            {% if fichiers_refuses|length_is:"0" %}
                 {% else %}
                <p>Les fichiers suivants ont été refusés :</p>
                <ol>
                    {% for f in fichiers_refuses %}
                    <li>{{ f.name }}</li>
                    {% endfor %}
                </ol>
                {% endif %}
                <button type="button" class="btn btn-default btn-lg btn-block" onclick="location.href='/userpanel/'">
                    Revenir
                </button>
            </div>
            <div class="col-md-4"></div>
          </div> <!-- /row -->
        </div> <!-- /panel-body -->
      </div> <!-- /panel -->
    </div> <!-- /container -->



{% endblock %}