body {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: "Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    color: #333;
    background-image: url("../static/img/background.jpg");
}

h1 {
    font-size: 42px;
    color: #E6E2AF;
    text-align: center;
}

a:link, a:visited {
    color: #5b80b2;
    text-decoration: none;
}

#page {
    margin-left: 14%;
    margin-right: 14%;
    margin-top:5%;
    margin-bottom: 10%;
}

#add_user_page {
    display: table;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    background-color: #DDDDDD;
}

#add_tech_survey {
    display: table;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    background-color: #DDDDDD;
}

button {
    border: 2px groove #7c93ba;
    cursor: pointer;
    background-color:#6b6dbb;
    color:#fff;
    font-size:1.1em;
    letter-spacing:.1em;
    font-variant:small-caps;
    border-radius: 15px 15px 15px 15px;
    width: 400px;
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button:focus {
    outline: 0;
}

#formulaire {
    background-color: #dddddd;
    display: none;
    border-radius: 0px 0px 15px 15px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-decoration-color: #ffffff;
    transition:display 0s linear 0.5s,opacity 0.5s linear;
    border: 2px groove #7c93ba;
}

table {
    text-align: right;
    font-family: "Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
}

th {
    font-variant:small-caps;
}

th#connexion { /* à revoir */
    margin-left:auto;
    margin-right:auto;
    width:70%;
}

form {
    margin: 0px 0px 0px 0px;
    align: center;
}

#log {
    float: right;
    background: #ffffff;
    display: block;
    vertical-align: top;
    padding: 0 0 2px 4px;
    border-radius: 0 0 0 10px;
}

#msgVert {
    background-color: green;
    border-radius: 10px;
    padding: 0 0 4px 0;
    margin-bottom: 10px;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    display: block;
}

#msgRouge {
    background-color: red;
    border-radius: 10px;
    padding: 0 0 4px 0;
    margin-bottom: 10px;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    display: block;
}

#filesAccepted {
    display: block;
    background-color: green;
    border-radius: 10px;
    margin: 0 auto 10px auto;
    padding: 0 5px 5px 5px;
}

#filesRefused {
    display: block;
    background-color: red;
    border-radius: 10px;
    margin: 0 auto 10px auto;
    padding: 0 5px 5px 5px;
}